<!doctype html>
<html {{#if extended.showLoadingAnimation}}class="no-scroll"{{/if}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{! Favicon }}
    <link rel="shortcut icon" href="{{#if extended.favicon-ico}}{{rootPrefix}}{{extended.favicon-ico}}{{else}}{{rootPrefix}}/assets/theme/images/favicon.ico{{/if}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{#if extended.favicon-16x16}}{{rootPrefix}}{{extended.favicon-16x16}}{{else}}{{rootPrefix}}/assets/theme/images/favicon-16x16.png{{/if}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{#if extended.favicon-32x32}}{{rootPrefix}}{{extended.favicon-32x32}}{{else}}{{rootPrefix}}/assets/theme/images/favicon-32x32.png{{/if}}">
    {{#if extended.favicon-180x180}}<link rel="apple-touch-icon" sizes="180x180" href="{{rootPrefix}}{{extended.favicon-180x180}}">{{/if}}
    {{#if extended.manifest}}<link rel="manifest" href="{{rootPrefix}}{{extended.manifest}}">{{/if}}
    {{#if extended.mask-icon}}<link rel="mask-icon" href="{{rootPrefix}}{{extended.mask-icon}}" color="#5bbad5">{{/if}}
    {{#if extended.msapplication-TileColor}}<meta name="msapplication-TileColor" content="{{extended.msapplication-TileColor}}">{{/if}}
    {{#if extended.msapplication-config}}<meta name="msapplication-config" content="{{rootPrefix}}{{extended.msapplication-config}}">{{/if}}
    {{#if extended.theme-color}}<meta name="theme-color" content="{{extended.theme-color}}">{{/if}}

    {{! Lottie JS }}
    {{#if extended.showLoadingAnimation}}
      <script src="{{rootPrefix}}/assets/theme/js/lottie.min.js" charset="utf-8"></script>
    {{/if}}
    {{! JQuery and Bootstrap }}
    <link rel="stylesheet" href="{{rootPrefix}}/assets/theme/css/bootstrap.min.css">
    <script src="{{rootPrefix}}/assets/theme/js/jquery.min.js" charset="utf-8"></script>
    <script src="{{rootPrefix}}/assets/theme/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    {{! Simple Bar }}
    <link rel="stylesheet" href="{{rootPrefix}}/assets/theme/css/simplebar.min.css" />
    <script src="{{rootPrefix}}/assets/theme/js/simplebar.min.js"></script>
    {{! Comment Parser Utility }}
    <script src="{{rootPrefix}}/assets/theme/js/comment-parser.js" charset="utf-8"></script>
    {{! Theme CSS }}
    <link rel="stylesheet" href="{{rootPrefix}}/assets/theme/styles.css">
    {{! Theme JS }}
    <script src="{{rootPrefix}}/assets/theme/js/right-pane.js" charset="utf-8"></script>
    <script src="{{rootPrefix}}/assets/theme/js/script.js" charset="utf-8"></script>

    {{! CSS with assets }}
    <style media="screen">
      p.note-info::before { content: url('{{rootPrefix}}/assets/theme/images/info.svg') }
      p.note-error::before { content: url('{{rootPrefix}}/assets/theme/images/error.svg') }
      p.note-success::before { content: url('{{rootPrefix}}/assets/theme/images/success.svg') }
      p.note-warning::before { content: url('{{rootPrefix}}/assets/theme/images/warning.svg') }
    </style>

    {{! Unload animation }}
    {{#if extended.showLoadingAnimation}}
      <script type="text/javascript">
        window.addEventListener('load', () => {
          bodymovin.destroy();
          document.querySelector('.loader-container').classList.add('hide');
          document.body.classList.remove('no-scroll');
          document.getElementsByTagName('html')[0].classList.remove('no-scroll');
        });
      </script>
    {{/if}}

    {{! Page title }}
    {{#if multiPage}}
      <title>{{title}}{{#if path}} - {{pageTitle}}{{/if}}</title>
    {{else}}
      <title>{{title}}{{#if extended.subtitle}} - {{extended.subtitle}}{{/if}}</title>
    {{/if}}

  </head>
  <body ontouchstart {{#if extended.showLoadingAnimation}}class="no-scroll"{{/if}}>
    {{#if extended.showLoadingAnimation}}
      <div class="loader-container">
        <div id="themeLoader" class="loader"></div>
      </div>
      <script type="text/javascript">
        bodymovin.loadAnimation({
          container: document.getElementById('themeLoader'),
          path: '{{rootPrefix}}/assets/theme/js/{{getLoaderName themeFlavor}}.json',
          renderer: 'svg',
          loop: true,
          autoplay: true
        });
      </script>
    {{/if}}
    <div id="sliderMenuShadow" class="slider-menu-shadow d-block d-md-none fixed-top" onclick="toggleMenu()"></div>
    <div id="sliderMenu" class="slider-menu d-block d-md-none fixed-top">
      {{#if versions}}
        <div class="dropdown dropdown-block">
          <button class="btn btn-secondary version-list-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>{{version}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10.4" width="16">
              <path fill="#bfc8d6" d="M8,14.9l-8-8L2.4,4.5l5.6,6,5.6-6L16,6.9Z" transform="translate(0 -4.5)"/>
            </svg>
          </button>
          <div class="dropdown-menu version-list" aria-labelledby="dropdownMenuButton2">
            {{#each versions}}
              <a class="dropdown-item" href="{{this.link}}">{{this.version}}</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
      <div class="btn-group-vertical section-list" role="group" aria-label="sections">
        {{#each sections}}
          <a href="{{link}}" onclick="toggleMenu()">
            <button class="btn btn-secondary level-{{level}}{{#if selected}} selected{{/if}}" type="button">{{title}}</button>
          </a>
        {{/each}}
      </div>
    </div>
    {{#if extended.stickyHeader}}
      <div class="fixed-navbar-compensate"></div>
    {{/if}}
    <nav class="navbar{{#if extended.stickyHeader}} fixed-top{{/if}}">
      <div class="d-flex align-items-center w-100{{#if versions}}-versions{{/if}}">
        {{#if extended.logo}}<img src="{{rootPrefix}}{{extended.logo}}" width="50" height="50">{{/if}}
        <a class="navbar-title" href="{{versionRootPrefix}}/">{{title}}</a>
        {{#if extended.subtitle}}
          <span class="navbar-subtitle d-none d-lg-block">{{extended.subtitle}}</span>
        {{/if}}
      </div>
      {{#if versions}}
        <div class="dropdown d-none d-md-block">
          <button class="btn btn-secondary version-list-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>{{version}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10.4" width="16">
              <path fill="#bfc8d6" d="M8,14.9l-8-8L2.4,4.5l5.6,6,5.6-6L16,6.9Z" transform="translate(0 -4.5)"/>
            </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-right version-list" aria-labelledby="dropdownMenuButton">
            {{#each versions}}
              <a class="dropdown-item" href="{{this.link}}">{{this.version}}</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
      <div class="d-block d-md-none menu-toggle" onclick="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 12 16">
          <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"/>
        </svg>
      </div>
    </nav>
    <div class="container-fluid main-container">
      <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 d-none d-md-flex left-pane">
          <div class="btn-group-vertical section-list" role="group" aria-label="sections">
            {{#each sections}}
              {{#if (isSectionParent ../sections @index)}}
                <div class="section-parent">
                  <a href="{{link}}">
                    <button class="btn btn-secondary level-{{level}}{{#if selected}} selected{{/if}}" type="button">{{title}}</button>
                  </a>
                  <span class="chevron" onclick="toggleSection(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 10 16">
                      <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"/>
                    </svg>
                  </span>
                </div>
                <div class="section-group">
              {{else}}
                <a href="{{link}}">
                  <button class="btn btn-secondary level-{{level}}{{#if selected}} selected{{/if}}" type="button">{{title}}</button>
                </a>
              {{/if}}
              {{#if (isSectionLastChild ../sections @index)}}{{{getLastChildClosingTag ../sections @index}}}{{/if}}
            {{/each}}
          </div>
        </div>
        <div class="col-lg-6 col-md-9 col-sm-12 middle-pane">
          {{#each contents}}
            <h1 id="{{id}}">{{title}}</h1>
            {{#each content}}
              {{#if (isDoc type)}}

                {{! Markdown }}
                {{{value}}}

              {{else}}

                {{! API }}
                {{#with value}}

                  {{! Info }}
                  {{#if info}}
                    {{#if info.title}}
                      <h3 id="{{info.id}}">{{info.title}}</h3>
                    {{/if}}
                    {{#if info.content}}
                      {{{info.content}}}
                      <hr>
                    {{/if}}
                  {{/if}}

                  {{! Path }}
                  {{#if path}}
                    <h4 id="{{path.id}}">{{path.title}}</h4>
                    {{#if auth.enabled}}
                      <svg class="auth-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 14 16">
                        <path fill-rule="evenodd" d="M12.83 2.17C12.08 1.42 11.14 1.03 10 1c-1.13.03-2.08.42-2.83 1.17S6.04 3.86 6.01 5c0 .3.03.59.09.89L0 12v1l1 1h2l1-1v-1h1v-1h1v-1h2l1.09-1.11c.3.08.59.11.91.11 1.14-.03 2.08-.42 2.83-1.17S13.97 6.14 14 5c-.03-1.14-.42-2.08-1.17-2.83zM11 5.38c-.77 0-1.38-.61-1.38-1.38 0-.77.61-1.38 1.38-1.38.77 0 1.38.61 1.38 1.38 0 .77-.61 1.38-1.38 1.38z"/>
                      </svg>
                    {{/if}}
                    {{#if path.method}}
                      <span class="rest-method-{{path.method}}">{{path.method}}</span>
                    {{/if}}
                    {{path.content}}
                    <hr>
                  {{/if}}

                  {{! Auth }}
                  {{#if auth.enabled}}
                    <h4 id="{{auth.id}}">{{auth.title}}</h4>
                    {{{auth.content}}}
                  {{/if}}

                  {{! URL Parameters }}
                  {{#if params}}
                    <h4 id="{{params.id}}">{{params.title}}</h4>
                    {{{params.content}}}
                  {{/if}}

                  {{! Query Parameters }}
                  {{#if queries}}
                    <h4 id="{{queries.id}}">{{queries.title}}</h4>
                    {{{queries.content}}}
                  {{/if}}

                  {{! Request }}
                  {{#if request}}
                    {{! Group the request for alignment if there's a response }}
                    {{#if response}}
                      <div class="alignment-group">
                    {{/if}}
                    {{#if request.body}}
                      <h4 id="{{request.body.id}}">{{request.body.title}}</h4>
                      <div class="body-group">
                        <ul>
                          {{#each request.body.content}}
                            <li onclick="toggleBodyContent(this, {{@index}})">{{getBodyTypeText type}}</li>
                          {{/each}}
                        </ul>
                        <div class="body-group-content">
                          {{#each request.body.content}}
                            {{{value}}}
                          {{/each}}
                        </div>
                      </div>
                    {{/if}}
                    {{#if request.headers}}
                      <h4 id="{{request.headers.id}}">{{request.headers.title}}</h4>
                      {{{request.headers.content}}}
                    {{/if}}
                    {{#if request.cookies}}
                      <h4 id="{{request.cookies.id}}">{{request.cookies.title}}</h4>
                      {{{request.cookies.content}}}
                    {{/if}}
                    {{! Group the request for alignment if there's a response }}
                    {{#if response}}
                      </div>
                    {{/if}}
                  {{/if}}

                  {{! Response }}
                  {{#if response}}
                    {{! Push to right pane if there's a request }}
                    {{#if request}}
                      <!-- aside -->
                    {{/if}}
                    {{#if response.body}}
                      <h4 id="{{response.body.id}}">{{response.body.title}}</h4>
                      <div class="body-group">
                        <ul>
                          {{#each response.body.content}}
                            <li onclick="toggleBodyContent(this, {{@index}})">{{getBodyTypeText type}}</li>
                          {{/each}}
                        </ul>
                        <div class="body-group-content">
                          {{#each response.body.content}}
                            {{{value}}}
                          {{/each}}
                        </div>
                      </div>
                    {{/if}}
                    {{#if response.headers}}
                      <h4 id="{{response.headers.id}}">{{response.headers.title}}</h4>
                      {{{response.headers.content}}}
                    {{/if}}
                    {{#if response.cookies}}
                      <h4 id="{{response.cookies.id}}">{{response.cookies.title}}</h4>
                      {{{response.cookies.content}}}
                    {{/if}}
                    {{! Push to right pane if there's a request }}
                    {{#if request}}
                      <!-- /aside -->
                    {{/if}}
                  {{/if}}

                  {{! Examples }}
                  {{#each examples as |example|}}

                    <h3 id="{{example.id}}">{{example.title}}</h3>
                    <hr>
                    {{#if example.info}}
                      {{#if example.info.title}}
                      <h3 id="{{example.info.id}}">{{example.info.title}}</h3>
                      {{/if}}
                      {{#if example.info.content}}
                        {{{example.info.content}}}
                        <hr>
                      {{/if}}
                    {{/if}}

                    {{! Group the request for alignment if there's a response }}
                    {{#if example.response}}
                      {{#if example.request}}
                        <div class="alignment-group">
                      {{/if}}
                    {{/if}}

                    {{#if example.path}}
                      <h4 id="{{example.path.id}}">{{example.path.title}}</h4>
                      <span>
                        {{#if example.path.method}}
                          <span class="rest-method-{{example.path.method}}">{{example.path.method}}</span>
                        {{/if}}
                        {{example.path.content}}
                      </span>
                      <hr>
                    {{/if}}

                    {{#if example.request}}
                      {{#if example.request.body}}
                        <h4 id="{{example.request.body.id}}">{{example.request.body.title}}</h4>
                        <div class="body-group">
                          <ul>
                            {{#each example.request.body.content}}
                              <li onclick="toggleBodyContent(this, {{@index}})">{{getBodyTypeText type}}</li>
                            {{/each}}
                          </ul>
                          <div class="body-group-content">
                            {{#each example.request.body.content}}
                              {{{value}}}
                            {{/each}}
                          </div>
                        </div>
                      {{/if}}
                      {{#if example.request.headers}}
                        <h4 id="{{example.request.headers.id}}">{{example.request.headers.title}}</h4>
                        {{{example.request.headers.content}}}
                      {{/if}}
                      {{#if example.request.cookies}}
                        <h4 id="{{example.request.cookies.id}}">{{example.request.cookies.title}}</h4>
                        {{{example.request.cookies.content}}}
                      {{/if}}
                      {{! Group the request for alignment if there's a response }}
                      {{#if example.response}}
                        </div>
                      {{/if}}
                    {{/if}}

                    {{#if example.response}}
                      {{! Group the request for alignment if there's a response }}
                      {{#if example.request}}
                        <!-- aside -->
                      {{/if}}
                      {{#if example.response.status}}
                        <h4 id="{{example.response.status.id}}">{{example.response.status.title}}</h4>
                        <span>
                          <span class="rest-status-{{example.response.status.code}}">{{example.response.status.code}}</span>
                          {{example.response.status.content}}
                        </span>
                        <hr>
                      {{/if}}
                      {{#if example.response.body}}
                        <h4 id="{{example.response.body.id}}">{{example.response.body.title}}</h4>
                        <div class="body-group">
                          <ul>
                            {{#each example.response.body.content}}
                              <li onclick="toggleBodyContent(this, {{@index}})">{{getBodyTypeText type}}</li>
                            {{/each}}
                          </ul>
                          <div class="body-group-content">
                            {{#each example.response.body.content}}
                              {{{value}}}
                            {{/each}}
                          </div>
                        </div>
                      {{/if}}
                      {{#if example.response.headers}}
                        <h4 id="{{example.response.headers.id}}">{{example.response.headers.title}}</h4>
                        {{{example.response.headers.content}}}
                      {{/if}}
                      {{#if example.response.cookies}}
                        <h4 id="{{example.response.cookies.id}}">{{example.response.cookies.title}}</h4>
                        {{{example.response.cookies.content}}}
                      {{/if}}
                      {{! Group the request for alignment if there's a response }}
                      {{#if example.request}}
                        <!-- /aside -->
                      {{/if}}
                    {{/if}}

                  {{/each}}

                {{/with}}

              {{/if}}
            {{/each}}
          {{/each}}
          {{#if multiPage}}
            <nav class="nav-pagination d-flex d-md-none">
              {{#if (getPreviousSectionLink sections path)}}
                <a href="{{getPreviousSectionLink sections}}">
                  <button type="button">Previous</button>
                </a>
              {{else}}
                {{#if (isFirstSection path)}}
                  <a href="{{versionRootPrefix}}/">
                    <button type="button">Previous</button>
                  </a>
                {{else}}
                  <span>Previous</span>
                {{/if}}
              {{/if}}
              {{#if (getNextSectionLink sections)}}
                <a href="{{getNextSectionLink sections}}">
                  <button type="button">Next</button>
                </a>
              {{else}}
                <span>Next</span>
              {{/if}}
            </nav>
          {{/if}}
          {{#unless extended.hidePoweredBy}}
            <hr>
            <div class="powered-by">
              <div class="label">Powered By</div>
              <img src="{{rootPrefix}}/assets/theme/images/powered-logo{{getPoweredLogoByFlavor themeFlavor}}.svg" width="192" alt="">
            </div>
          {{/unless}}
        </div>
        <div class="col-lg-4 d-none d-lg-flex right-pane"></div>
      </div>
    </div>
  </body>
</html>
