<html>
  <head>
    {{! Favicon }}
    <link rel="shortcut icon" href="{{rootPrefix path}}{{#if extended.favicon-ico}}{{extended.favicon-ico}}{{else}}assets/images/favicon.ico{{/if}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{rootPrefix path}}{{#if extended.favicon-16x16}}{{extended.favicon-16x16}}{{else}}assets/images/favicon-16x16.png{{/if}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{rootPrefix path}}{{extended.favicon-32x32}}{{#if extended.favicon-32x32}}{{else}}assets/images/favicon-32x32.png{{/if}}">
    {{#if extended.favicon-180x180}}<link rel="apple-touch-icon" sizes="180x180" href="{{rootPrefix path}}{{extended.favicon-180x180}}">{{/if}}
    {{#if extended.manifest}}<link rel="manifest" href="{{rootPrefix path}}{{extended.manifest}}">{{/if}}
    {{#if extended.mask-icon}}<link rel="mask-icon" href="{{rootPrefix path}}{{extended.mask-icon}}" color="#5bbad5">{{/if}}
    {{#if extended.msapplication-TileColor}}<meta name="msapplication-TileColor" content="{{extended.msapplication-TileColor}}">{{/if}}
    {{#if extended.msapplication-config}}<meta name="msapplication-config" content="{{rootPrefix path}}{{extended.msapplication-config}}">{{/if}}
    {{#if extended.theme-color}}<meta name="theme-color" content="{{extended.theme-color}}">{{/if}}

    {{! Bootstrap CSS }}
    <link rel="stylesheet" href="{{rootPrefix path}}assets/css/bootstrap.min.css">
    {{! Theme CSS }}
    <link rel="stylesheet" href="{{rootPrefix path}}styles.css">
    {{! JQuery and Bootstrap bundle JS }}
    <script src="{{rootPrefix path}}assets/js/jquery.min.js" charset="utf-8"></script>
    <script src="{{rootPrefix path}}assets/js/bootstrap.bundle.min.js" charset="utf-8"></script>

    {{! Page title }}
    {{#if multiPage}}
      <title>{{title}} - {{pageTitle}}</title>
    {{else}}
      {{#if extended.subtitle}}
        <title>{{title}} - {{extended.subtitle}}</title>
      {{else}}
        <title>{{title}}</title>
      {{/if}}
    {{/if}}

  </head>
  <body>
    <nav class="navbar">
      <div class="d-flex align-items-center w-100{{#if versions}}-versions{{/if}}">
        <img src="{{rootPrefix path}}{{extended.logo}}" width="50" height="50">
        <span class="navbar-title">{{title}}</span>
        {{#if extended.subtitle}}
          <span class="navbar-subtitle d-none d-lg-block">{{extended.subtitle}}</span>
        {{/if}}
      </div>
      {{#if versions}}
        <div class="dropdown d-none d-md-block">
          <button class="btn btn-secondary version-list-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>{{version}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10.4" width="16">
              <path fill="#bfc8d6" d="M8,14.9l-8-8L2.4,4.5l5.6,6,5.6-6L16,6.9Z" transform="translate(0 -4.5)"/>
            </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-right version-list" aria-labelledby="dropdownMenuButton">
            {{#each versions}}
              <a class="dropdown-item" href="{{this.link}}">{{this.version}}</a>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </nav>
    <div class="container-fluid main-container">
      <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-flex left-pane">
          <div class="btn-group-vertical section-list" role="group" aria-label="sections">
            {{#each sections}}
              <a href="{{link}}">
                <button class="btn btn-secondary level-{{level}}{{#if selected}} selected{{/if}}" type="button">{{title}}</button>
              </a>
            {{/each}}
          </div>
        </div>
        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-12 middle-pane"></div>
        <div class="col-lg-3 d-none d-lg-flex right-pane"></div>
      </div>
    </div>
  </body>
</html>
