<html>
  <head>
    {{#if multiPage}}
      <title>{{pageTitle}}</title>
    {{else}}
      {{#if extended.subtitle}}
        <title>{{title}}: {{extended.subtitle}}</title>
      {{else}}
        <title>{{title}}</title>
      {{/if}}
    {{/if}}
  </head>
  <body>

  </body>
</html>
