<!-- NOTE: This template will generate each page per section (if multipage)
or the single page with all sections of the documentation.

You should use Handlebars templating syntax with the template API (refer to API Reference
in the documentation for more info) to plug in all the contents of the documentation into this page. -->

<!-- NOTE: All links to theme assets or user assets should be prefixed with "{{rootPrefix}}/assets/theme/". -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{! Set the page title }}
    <title>{{title}}</title>
    {{!
      NOTE: The below code will use the declared user assets in config.json as theme options extensions for setting the favicon:
        "favicon-ico": "path/to/favicon.ico",
        "favicon-16x16": "path/to/favicon-16x16.png",
        "favicon-32x32": "path/to/favicon-32x32.png",
        "favicon-70x70": "path/to/mstile-70x70.png",
        "favicon-144x144": "path/to/mstile-144x144.png",
        "favicon-150x150": "path/to/mstile-150x150.png",
        "favicon-310x150": "path/to/mstile-310x150.png",
        "favicon-310x310": "path/to/mstile-310x310.png",
        "favicon-180x180": "path/to/apple-touch-icon.png",
        "favicon-192x192": "path/to/android-chrome-192x192.png",
        "favicon-512x512": "path/to/android-chrome-512x512.png",
        "manifest": "path/to/site.webmanifest",
        "mask-icon": "path/to/safari-pinned-tab.svg",
        "msapplication-config": "path/to/browserconfig.xml",
        "theme-color": "hex color",
        "msapplication-TileColor": "hex color"
      These keys are inline with what https://realfavicongenerator.net/ generates.
      NOTE: As the declaration goes, these files will be copied to "assets/theme/images/" but the value of the extended object properties
            will already contain the full path to that file (but still needs root prefixing).
    }}
    {{#if extended.favicon-ico}}<link rel="shortcut icon" href="{{rootPrefix}}{{extended.favicon-ico}}">{{/if}}
    {{#if extended.favicon-16x16}}<link rel="icon" type="image/png" sizes="16x16" href="{{rootPrefix}}{{extended.favicon-16x16}}">{{/if}}
    {{#if extended.favicon-32x32}}<link rel="icon" type="image/png" sizes="32x32" href="{{rootPrefix}}{{extended.favicon-32x32}}">{{/if}}
    {{#if extended.favicon-180x180}}<link rel="apple-touch-icon" sizes="180x180" href="{{rootPrefix}}{{extended.favicon-180x180}}">{{/if}}
    {{#if extended.manifest}}<link rel="manifest" href="{{rootPrefix}}{{extended.manifest}}">{{/if}}
    {{#if extended.mask-icon}}<link rel="mask-icon" href="{{rootPrefix}}{{extended.mask-icon}}" color="#5bbad5">{{/if}}
    {{#if extended.msapplication-TileColor}}<meta name="msapplication-TileColor" content="{{extended.msapplication-TileColor}}">{{/if}}
    {{#if extended.msapplication-config}}<meta name="msapplication-config" content="{{rootPrefix}}{{extended.msapplication-config}}">{{/if}}
    {{#if extended.theme-color}}<meta name="theme-color" content="{{extended.theme-color}}">{{/if}}
    {{! Load theme's compiled SASS }}
    <link rel="stylesheet" href="{{rootPrefix}}/assets/theme/styles.css">
  </head>
  <body>
    <span>The selected flavor is {{themeFlavor}}</span>
  </body>
</html>
